.wizard{
  height: 95vh;
  width: 50vw;
  margin: auto;
  background: #e5f4ec;
}

.wizard-number{
  font-size: 2rem;
}

.cancel{
  background:#fec2c2;
  height: 2.5rem;
  font-weight: bold;
  border: 0px;
  border-radius: 15px;
  font-size: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  transition: 300ms;
}
input {
  margin: 3vh 5vw;
  font-size: 1.25rem;
}
.input-holder{
  display: grid;
}
.next{
  background:#3b5249;
  height: 3rem;
  font-weight: bold;
  border: 1px solid black;
  font-size: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: white;
  transition: 300ms;
}

.rent{
  font-size: 1.5rem;
}

.cancel:hover{
  background: #ff2a2a;
  font-weight: bolder;
  color: white;
  border: grey 1px solid;
}

.next:hover{
  background: #54af8c;
  color: black;
}