.primary {
  width: 60vw;
  width: 50vw;
  margin: auto;
  background: #e5f4ec;
}
.dash-head{
  height: 10vh;
  padding-top: 3vh;
}
.dash-title{
  font-size: 2.5rem;
  font-weight: normal;
  color: #519872
}
.add-property{
  background:#8aea92;
  height: 3rem;
  font-weight: bold;
  border: none;
  font-size: 1.5rem;
  transition: 300ms;
  padding-right: 1rem;
  padding-left: 1rem;
}
.vert-sep{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  
}
.listing{
  font-size: 2rem;
}
hr{
  border: black 1px solid;
}

.add-property:hover{
  background:#3b5249;
  border: 1px solid black;
  color: white;
}